*{
    background-color: rgb(228, 254, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
p{
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.Contact{
    background-color:rgba(72, 41, 129, 0.918) ;
    padding: 5px 20px 15px 20px;
    border: 5px solid rgba(131, 175, 80, 0.945);
    border-radius: 10px;
    
}

input[type="name"],
input[type="email"],
input[type="text"],
input[type="number"]{
    background-color: rgb(248, 248, 248);
    padding: 10px;
    width: 50%;
    font-family: 'Playfair Display', serif;
    border: 2px solid;
}

input[type="button"]:hover{
    /*box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);*/
  box-shadow: 10px 5px 5px red;
  font-family: 'Bebas Neue','cursive';
  left: 50%;
  border: 2px solid #000000;
  background-color: #f1f1f1;
  font-weight: 800;
  color: #f44336;
  font-size: 16px;
  padding: 16px 30px;
  border-radius: 50%;
 
}
input[type="reset"]:hover{
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  font-family: 'Bebas Neue','cursive';
  border: 2px solid #000000;
  left: 50%;
  background-color:#ffffff;
  font-weight: 800;
  color: rgb(69, 248, 99);
  font-size: 16px;
  padding: 16px 30px;
  border-radius: 50%;
  
}
