<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=h1, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="screen" />
    <title>SHORTNER</title>
  </head>
  <body>
    <form id="main-form" action="" method="post">
      {% csrf_token %}
      <div>{{form.long_url}}</div>
      <button type="submit">Submit</button>
    </form>
    <div>
      {% if redirect_url %}
      <h2 id="times-followd">{{ times_followed }}</h2>
      <h2 id="redirect-url">{{ redirect_url }}</h2>
      <h2 id="long-url">{{ long_url }}</h2>
      {% endif %}
    </div>
    <h1></h1>
  </body>
</html>
